/* THEME SOMBRE*/

[data-md-color-scheme="slate"] {
  /* TABLEAUX */
  --table-header-background: #0081d6;
  --table-header-border: #eee;
  --table-row-odd-background: rgb(92, 177, 235);
  --table-row-even-background: rgba(172, 172, 172, 0.67);
  --table-code-background: rgba(83, 83, 83, 0.87);

  /* ADMONITIONS */
  --md-admonition-python-title-background: rgb(55, 116, 167);
  --md-admonition-python-border-color: rgb(60, 152, 228);

  /* EN VALEUR */
  --env-background-color: rgba(140,140,150,0.6);
  --env-border-color: rgba(190, 190, 190, .7);

  /* ENCADRE */
  --enc-color:#fff;
  --enc-border-color:#fff;
  --enc-box-shadow: 3px 3px 5px #ccc;
  
  /* FLUO */
  --fluo-jaune-background-color: #85833f;

  /* IMAGE SHADOW */
  --img-shadow-box: 5px 5px 10px #fff;
  --img-shadow-background-color: #fff;

}

